body{padding: 70px 0 50px 0;}
footer p{margin: 0;}
.text-orange{color: var(--orange);}
.back-orange{background-color: var(--orange);}
/*CALCULATOR CSS*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.b-darker{
    border: 1px solid #525456;
}
.card{margin: 0 15px;}
div.form-check.col-sm-3 .form-check-label{padding: 0}
.calc-btns button{cursor: pointer;}
/*CALCULATOR RESULT CSS*/
.modal-body .row{padding: 0;margin: 0;}
#resultPresenterToggle{
    margin: 0rem 0rem -1rem auto;
}
#tableResult{display: none;}
/* .result_color_scale_cont .row{
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
} */
.result_color_scale{position: relative;}
.result_color_scale.row span{
    position: absolute;
    z-index: 10;
    background: black;
    width: 1%;
    height: 130%;
    top: -15%;
    /* color: white;
    line-height: 1.5rem;
    margin-left: -9.5px;
    width: 19px;
    text-align: center;
    font-weight: 900; */
}
.result_color_scale_cont > label, .result_color_scale_cont > small{
    margin-bottom: 0;
    display: block;
}