body{padding: 70px 0 50px 0;}
footer p{margin: 0;}
/*CALCULATOR CSS*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.card{margin: 0 15px;}
div.form-check.col-sm-3 .form-check-label{padding: 0}
.calc-btns button{cursor: pointer;}
/*CALCULATOR RESULT CSS*/
.modal-body .row{padding: 0;margin: 0;}
.result_color_scale_cont{position: relative;}
.result_color_scale_cont .row{
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
}
.result_color_scale_cont .row span{
    position: absolute;
    z-index: 10;
    color: white;
    line-height: 1.5rem;
    margin-left: -9.5px;
    width: 19px;
    text-align: center;
    font-weight: 900;
}